{% extends 'store/base.html' %}

{% load static %}

{% block content %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Cart</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">

            {% if not request.user.is_authenticated %}
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="bg-light rounded p-3">
                            <p class="mb-0">You must be logged in to place an order.
                                <a href="{% url 'account:login' 'customer' %}"
                                   class="d-inline-block">Click here</a> to login.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for cart_item in cart_items %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="{% static 'store/images/product_02.png' %}" alt="Image"
                                             class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black"><a
                                                href="{% url 'store:detail' cart_item.drug.id %}">{{ cart_item.drug.name }}</a>
                                        </h2>
                                    </td>
                                    <td>{{ cart_item.drug.price }}</td>
                                    <td>
                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button value="{{ cart_item.drug.pk }}"
                                                        class="btn btn-outline-primary btn-minus"
                                                        type="button" onclick="increaseDecreaseQuantity($(this))">
                                                    &minus;
                                                </button>
                                            </div>
                                            <input id="itemQuantity-{{ cart_item.pk }}" type="text"
                                                   class="form-control text-center"
                                                   value="{{ cart_item.quantity }}"
                                                   aria-label="Example text with button addon"
                                                   aria-describedby="button-addon1"/>
                                            <div class="input-group-append">
                                                <button value="{{ cart_item.drug.pk }}"
                                                        class="btn btn-outline-primary btn-plus"
                                                        type="button" onclick="increaseDecreaseQuantity($(this))">
                                                    &plus;
                                                </button>
                                            </div>
                                        </div>

                                    </td>
                                    <td id="itemTotal-{{ cart_item.pk }}">{{ cart_item.total_price }}</td>
                                    <td>
                                        <form action="{% url 'store:cart' %}" method="POST">
                                            {% csrf_token %}
                                            <button name="med_id" value="{{ cart_item.drug.pk }}"
                                                    type="submit" class="btn btn-primary height-auto btn-sm">X
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="{% url 'store:store' 1 %}" class="btn btn-outline-primary btn-md btn-block">
                                Continue Shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="total text-black">{{ subtotal }}</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="total text-black">{{ total }}</strong>
                                </div>
                            </div>

                            {% if request.user.is_authenticated and cart_count > 0 %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-primary btn-lg btn-block"
                                           href="{% url 'store:checkout' %}">
                                        Proceed To Checkout
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-secondary bg-image"
         style="background-image: url('{% static 'store/images/bg_2.jpg' %}');">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <a href="#" class="banner-1 h-100 d-flex"
                       style="background-image: url('{% static 'store/images/bg_1.jpg' %}');">
                        <div class="banner-1-inner align-self-center">
                            <h2>Pharma Products</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio
                                voluptatem.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <a href="#" class="banner-1 h-100 d-flex"
                       style="background-image: url('{% static 'store/images/bg_2.jpg' %}');">
                        <div class="banner-1-inner ml-auto  align-self-center">
                            <h2>Rated by Experts</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio
                                voluptatem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block page_specific_script %}
<script src="{% static 'store/custom/js/js.cookie-2.2.1.min.js' %}"></script>
<script type="text/javascript">
    let csrfToken = Cookies.get('csrftoken');

    function increaseDecreaseQuantity(button) {
        let operation, classes = button.attr("class").split(/\s+/);

        if (classes.indexOf('btn-plus') >= 0) {
            operation = '+';
        } else if (classes.indexOf('btn-minus') >= 0) {
            operation = '-';
        } else {
            operation = null;
        }

        $.ajax({
            url: '',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: {
                'med_id': button.val(),
                'operation': operation
            },
            success: (response) => {
                updateTotalsAndCartCount(response);
            },
            error: () => {
                alert('Could not change quantity. Please try again later.');
            }
        });
    }

    function updateTotalsAndCartCount(jsonData) {
        $('#cartCount').text(jsonData.cart_count);
        let cartItem = JSON.parse(jsonData.cart_item)[0];
        let cartItemQuantity = cartItem.fields.quantity;

        if (cartItemQuantity === 0) {
            // Reload the page from the server to get a new list of cart items instead of
            // manually removing the table row containing the item
            window.location.reload(forcedReload=true);
        } else {
            $(`#itemQuantity-${cartItem.pk}`).val(cartItemQuantity);
            $(`#itemTotal-${cartItem.pk}`).text(cartItem.fields.total_price);
            $('.total').text(jsonData.total.total);
        }
    }
</script>
{% endblock page_specific_script %}
