{% load static %}

<head>
    <title>Pharmaline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'store/icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'store/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'store/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'store/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'store/fontawsome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'store/custom/css/style.css' %}">

    {% block page_specific_style %}
    {% endblock page_specific_style %}
</head>