{% extends 'store/base.html' %}

{% load static %}

{% block content %}
    <div class="site-section">
        <div class="container">
            <table class="table text-black border">
                <thead class="card-header">
                <tr>
                    <th>Order Name</th>
                    <th>Item</th>
                    <th>Placement Date</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody>
                {% for order in orders %}
                    <tr>
                        <td><a class="text-black" href="{% url 'store:order_details' order.id %}">
                            {{ order.order.order_name }}</a></td>
                        <td><a class="text-black" href="{% url 'store:order_details' order.id %}">
                            {{ order.cart_item.drug.name }} ({{ order.cart_item.quantity }})</a></td>
                        <td><a class="text-black" href="{% url 'store:order_details' order.id %}">
                            {{ order.order.date_time }}</a></td>
                        <td>
                            <p>[ Pending ]</p>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
