{% extends 'store/base.html' %}

{% load static %}

{% block content %}
    <div class="site-section">
        <div class="container">
            {% if orders %}
                <table class="table text-black border">
                    <thead class="card-header">
                    <tr>
                        <th>Order Name</th>
                        <th>Item</th>
                        <th>Placement Date</th>
                        <th>Note</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                {% if request.user.pharmacy %}
                                    <a class="text-black" href="{% url 'store:order_details' order.id %}">
                                        {{ order.order.order_name }}
                                    </a>
                                {% else %}
                                    <p class="text-black">
                                        {{ order.order.order_name }}
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                {% if request.user.pharmacy %}
                                    <a class="text-black" href="{% url 'store:order_details' order.id %}">
                                        {{ order.cart_item.drug.name }} (&times;{{ order.cart_item.quantity }})</a>
                                {% else %}
                                    <a class="text-black" href="{% url 'store:detail' order.cart_item.drug.pk %}">
                                        {{ order.cart_item.drug.name }} (&times;{{ order.cart_item.quantity }})</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if request.user.pharmacy %}
                                    <a class="text-black" href="{% url 'store:order_details' order.id %}">
                                        {{ order.order.date_time }}</a>
                                {% else %}
                                    <p class="text-black">
                                        {{ order.order.date_time }}
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                <p>{{ order.order.note }}</p>
                            </td>
                            <td>
                                <button id="order-{{ order.pk }}" class="text-black status-btn btn disabled" disabled>
                                    {{ order.status|upper }}
                                </button>
                                {% if request.user.customer and order.status != 'dispatched' %}
                                    <button class="btn btn-danger" value="{{ order.pk }}"
                                            onclick="cancelOrder($(this));">
                                        CANCEL
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span id="no-med-message" class="text offset-5 font-weight-bold">You have no pending orders.</span>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block page_specific_script %}
    <script src="{% static 'store/custom/js/js.cookie-2.2.1.min.js' %}"></script>
    <script>
        let csrfToken = Cookies.get('csrftoken');

        function cancelOrder(cancelButton) {
            if (confirm("Are you sure? This can't be undone.")) {
                $.ajax({
                url: `details/${cancelButton.val()}/`,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: {
                    'new_status': 'canceled'
                },
                success: () => {
                    cancelButton.removeClass();
                    cancelButton.addClass('btn btn-dark');
                    $(`#order-${cancelButton.val()}`).html('CANCELED');
                    cancelButton.prop('disabled', true);
                },
                error: (data) => {
                    alert(data.responseText);
                }
            });
            }
        }
    </script>
{% endblock page_specific_script %}
