{% extends 'store/base.html' %}

{% load static %}

{% block content %}
    <div class="site-section">

        <div class="container">


            <div class="m-2 p-4 border text-center bg-dark text-white" style="font-size: 1.2em;">
                <span>{{ status|title }} orders</span>
            </div>

            {% if orders %}
                <table class="table text-black border">
                    <thead class="card-header">
                    <tr>
                        <th>Order Name</th>
                        <th>Item</th>
                        <th>Placement Date</th>
                        <th>Note</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for order in orders %}
                        {% if order.status == 'rejected' %}
                            <tr>
                                <td colspan="5" class="text-center bg-warning">
                                    {{ order.rejection_reason }}
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            {% if request.user.pharmacy %}
                                <td>
                                    <a class="text-black" href="{% url 'store:order_details' order.id %}">
                                        {{ order.order.order_name }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-black" href="{% url 'store:order_details' order.id %}">
                                        {{ order.cart_item.drug.name }} (&times;{{ order.cart_item.quantity }})</a>
                                </td>
                                <td>
                                    <a class="text-black" href="{% url 'store:order_details' order.id %}">
                                        {{ order.order.date_time }}</a>
                                </td>
                            {% else %}  {# user is customer #}
                                <td>
                                    <p class="text-black">
                                        {{ order.order.order_name }}
                                    </p>
                                </td>
                                <td>
                                    <a class="text-black" href="{% url 'store:detail' order.cart_item.drug.pk %}">
                                        {{ order.cart_item.drug.name }} (&times;{{ order.cart_item.quantity }})</a>
                                </td>
                                <td>
                                    <p class="text-black">
                                        {{ order.order.date_time }}
                                    </p>
                                </td>
                            {% endif %}

                            <td>
                                <p>{{ order.order.note }}</p>
                            </td>

                            <td>
                                <button id="order-{{ order.pk }}" class="text-black status-btn btn disabled"
                                        disabled>
                                    {{ order.status|upper }}
                                </button>
                                {% if request.user.customer and order.status == 'pending' %}
                                    <button class="btn btn-danger" value="{{ order.pk }}"
                                            onclick="cancelOrder($(this));">
                                        CANCEL
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="m-5 p-5 border">
                    <span class="text offset-5 font-weight-bold">No {{ status }} orders.</span>
                </div>
            {% endif %}

            <nav class="nav">
                <div>
                    <button onclick="location.href='{% url 'store:orders' 'pending' %}'" class="btn btn-black mt-3 mx-2"
                            type="button">
                        Pending ({{ all_order_counts.pending }})
                    </button>
                </div>

                {# For customers pending orders are shown on the order count next to the cart #}
                <div>
                    <button onclick="location.href='{% url 'store:orders' 'dispatched' %}'"
                            class="btn btn-black mt-3 mx-2"
                            type="button">
                        Dispatched ({{ all_order_counts.dispatched }})
                    </button>
                </div>

                <div>
                    <button onclick="location.href='{% url 'store:orders' 'complete' %}'"
                            class="btn btn-black mt-3 mx-2"
                            type="button">
                        Complete ({{ all_order_counts.complete }})
                    </button>
                </div>

                {% if request.user.customer %}
                    <div>
                        <button onclick="location.href='{% url 'store:orders' 'canceled' %}'"
                                class="btn btn-black mt-3 mx-2"
                                type="button">
                            Canceled ({{ all_order_counts.canceled }})
                        </button>
                    </div>
                {% endif %}

                <div>
                    <button onclick="location.href='{% url 'store:orders' 'rejected' %}'"
                            class="btn btn-black mt-3 mx-2"
                            type="button">
                        Rejected ({{ all_order_counts.rejected }})
                    </button>
                </div>
            </nav>
        </div>
    </div>

{% endblock content %}

{% block page_specific_script %}
    {% if request.user.customer %}
        <script src="{% static 'store/custom/js/js.cookie-2.2.1.min.js' %}"></script>

        <script>

            function cancelOrder(cancelButton) {
                if (confirm("Are you sure? This can't be undone.")) {
                    $.ajax({
                        url: `details/${cancelButton.val()}/`,
                        type: 'POST',
                        headers: {
                            'X-CSRFToken': Cookies.get('csrftoken')
                        },
                        data: {
                            'new_status': 'canceled'
                        },
                        success: () => {
                            cancelButton.removeClass();
                            cancelButton.addClass('btn btn-dark');
                            $(`#order-${cancelButton.val()}`).html('CANCELED');
                            cancelButton.prop('disabled', true);
                        },
                        error: (data) => {
                            alert(data.responseText);
                        }
                    });
                }
            }
        </script>
    {% endif %}
{% endblock page_specific_script %}
