{% extends 'store/base.html' %}

{% load static %}

{% block page_specific_style %}
    <link rel="stylesheet" href="{% static 'store/mdb/css/addons/datatables.min.css' %}">    
    <link rel="stylesheet" href="{% static 'store/custom/css/list-page-style.css' %}">
{% endblock page_specific_style %}

{% block alert_msg %}
    {% include 'account/alert_msg.html' %}
{% endblock alert_msg %}

{% block content %}
    <div class='container'>
        <h2 class="text-black mt-3 mb-4 pb-3 border-bottom">{{pharmacy_name}} Products</h2>
        <div id="add-section" class="d-none text-center">
            <a href="{% url 'store:product_create' user.pharmacy.id %}" class="btn btn-primary btn-lg btn-block">Add Product</a>
        </div>

        <div class="table-container d-none">
        <table id="dtBasicExample" class="table table-hover table-lg mt-4" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Vendor</th>
                    <th>Qty.</th>
                    <th>Price</th>
                    {% comment %} <th title="Prescription Drug">Prescription</th> {% endcomment %}
                    {% comment %} <th title="Date of Purchase">DOP</th> {% endcomment %}
                    <th title="Date of Manufacture">MFGDT</th>
                    <th title="Date of Expiration">EXP</th>
                    {% comment %} <th>Image</th> {% endcomment %}
                    <th class="nosort">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td id="name">{{ product.name }}</td>
                        <td>{{ product.vendor }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.price }}</td>
                        {% comment %} <td>
                            {% if product.requires_prescription %}
                                <img src="{% static 'store/icons/icon-yes.svg' %}">
                            {% endif %}
                        </td> {% endcomment %}
                        {% comment %} <td>{{product.date_of_purchase|date:"M d, Y"}}</td> {% endcomment %}
                        {% comment %} <td>Aug 21, 2020</td> {% endcomment %}
                        <td>{{ product.production_date|date:"M Y" }}</td>
                        <td>{{ product.expiry_date|date:"M Y" }}</td>
                        {% comment %} <td>{{ product.image }}</td> {% endcomment %}
                        <td>
                            <a href="{% url 'store:product_update' user.pharmacy.id product.id %}" class="text-warning">edit</a>
                            <span class="mx-1">|</span> 
                            <a href="#" class="text-danger">remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>    
    </div>
{% endblock content %}

{% block page_specific_script %}
    <script src="{% static 'store/custom/js/list-page-script.js' %}"></script>
    <script src="{% static 'store/mdb/js/plugins/moment.min.js' %}"></script>
    <script src="{% static 'store/mdb/js/addons/datatables.min.js' %}"></script>
    <script src="{% static 'store/mdb/js/plugins/datetime-moment.js' %}"></script>
    
    <script>
        /* initialise the table */
        $(document).ready(function () {
            // add date sorting for "Mon date, Year" & "Mon Year" formats
            $.fn.dataTable.moment( ['ll', 'MMM YYYY'] );
            $('#dtBasicExample').DataTable({
                // Disable ordering on columns which have a class of 'nosort'
                "columnDefs": [ {
                    "targets": 'nosort',
                    "orderable": false
                }],
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock page_specific_script %}
