{% load static %}

<script src="{% static 'store/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'store/js/jquery-ui.js' %}"></script>
<script src="{% static 'store/js/popper.min.js' %}"></script>
<script src="{% static 'store/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'store/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'store/js/aos.js' %}"></script>

<script src="{% static 'store/js/main.js' %}"></script>

<script src="{% static 'store/custom/js/script.js' %}"></script>

{% block page_specific_script %}
{% endblock page_specific_script %}