<nav class="site-navbar navbar navbar-expand navbar-light bg-white">
    <div class="site-logo">
        <a class="navbar-brand" href="#">Pharmaline</a>
    </div>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <ul class="site-menu">
                    {% if user.is_authenticated %}
                        <li class="has-children py-0">
                            <a class="nav-link" style="text-transform: none"><b>{{user.username}}</b></a>
                            <ul class="dropdown dropdown-menu-right">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:profile' 'pharma_admin' user.id %}">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </li>
        <button type="button" id="toggle-sidebar" class="btn btn-outline-info">
            <i class="fas fa-align-left"></i>
        </button>
    </ul>
</nav>