{% extends "store/base.html" %}

{% block content %} 
  
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>                 
        
        {% if user_label == 'customer' %}
            <a href="{% url 'account:login' 'customer' %}">Log In</a>
        {% elif user_label == 'pharmacy' %}
            <a href="{% url 'account:login' 'pharmacy' %}">Log In</a>
        {% endif %}
    </div>

{% endblock %}