{% extends 'store/base.html' %}

{% block content %}
    <div class="container my-5 px-2">
        <div class="row mx-0">
            <div class="col-md-8 col-lg-5 py-3 mx-auto border rounded">
                <h3 class="mb-4 pb-4 border-bottom text-center">Reset Password</h3>

                <div class="mb-2">
                    {% include 'account/alert_msg.html' %}
                </div>

                <form action='' method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                            {{ field }}
                            <small class="text-muted">use email of your pharmaline account</small>
                            {% for err in field.errors %}
                                <small class="invalid-feedback d-block">{{ err|linebreaks }}</small>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="d-flex py-3">
                        <button class="btn btn-outline-info" type="submit">Send Email</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% comment %} {% block page_specific_script %}
    <script>
        /* Apply style to email input field through script */
        const emailInput = document.querySelector('input[type=email]');
        emailInput.className = "form-control form-control-sm";
        /* unhide form-group after style is added */
        const formGroup = document.querySelector('form .form-group');
        formGroup.classList.remove('invisible');
    </script>
{% endblock page_specific_script %} {% endcomment %}