{% extends 'store/base.html' %}

{% block content %}
    <div class="container my-5 px-2">
        <div class="row mx-0">
            <div class="col-md-8 col-lg-5 py-3 mx-auto border rounded">
                <h3 class="mb-4 pb-4 border-bottom text-center">{{ form_header }}</h3>

                <div class="mb-2">
                    {% include 'account/alert_msg.html' %}
                </div>

                <form action='' method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                            {{ field }}
                            {% for err in field.errors %}
                                <small class="invalid-feedback d-block">{{ err|linebreaks }}</small>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    
                    <div class="d-flex py-3">
                        <input type="submit" value="{{ submit_msg }}" class="btn btn-dark btn-sm">
                        {% ifnotequal form_header 'Administrator Login' %}
                            <small class="text-muted ml-2" >
                                <a href="{% url 'account:password_reset' %}" style="padding: 0.25rem 0.5rem !important;">Forgot Password?</a>
                            </small>
                        {% endifnotequal %}
                    </div>

                    {% ifequal form_header 'Customer Login' %}
                        <small class="text-muted">Don't have an account? <a class="d-inline pl-2"
                                                                            href="{% url 'account:register' 'customer' %}">Register</a>
                        </small>
                    {% endifequal %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
